body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  text-align: center;
}

input {
  padding: 10px;
  width: 17%;
  border: 1px solid rgb(231, 15, 69);
}

button {
  padding: 10px;
  background-color: rgb(231, 15, 69);
  border: 0;
  color: #fff;
}

.gamers {
  padding: 0;
  margin: 30px 0 0 0;
}

.gamer {
  background-color: rgb(231, 15, 69, 0.2);
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.gamer__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.gamer__name {
  font-size: 16px;
  text-transform: uppercase;
}

.gamer__date_add {
  margin: 0;
  padding: 0;
}

.gamer__value_block {
  display: block;
  display: flex;
  margin-right: 20px;
  gap: 15px;
}

.gamer_team {
  font-size: 16px;
  text-transform: uppercase;
}

.gamer_score-total {
  font-size: 16px;
}

.gamer__del {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamer__score-plus {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamer__score-minus {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}